<GridLayout rows="*, auto, auto" class="canvas">
    <ceiling-object [animating]="!dead"></ceiling-object>
    <sky-object [animating]="!dead"></sky-object>
    <land-object [animating]="!dead"></land-object>
    <splash-instruction></splash-instruction>
    <bird-player [bird]="bird"></bird-player>
    <splash-scoreboard *ngIf="dead"
        (onReplay)="restart()"></splash-scoreboard>
    <AbsoluteLayout
        (tap)="screenPress()" width="100%" height="100%" rowSpan="3" *ngIf="!dead"></AbsoluteLayout>
</GridLayout>
